@import url('https://fonts.googleapis.com/css?family=Exo');

body{
  font-family: 'Exo', sans-serif;
  background: #025;
  text-shadow: 2px 5px 15px #000;
  color: #eee;
}

@media (max-width: 768px) {
  #searchdiv{
    padding-top: 5px;
  }
}

table{
  box-sizing: border-box;
  padding: 5px;
  margin-top: 15px;

}

/*Bootstrap overides*/
.form-control{
  box-shadow: 2px 5px 15px #000;
}

.btn-primary,
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover{
  box-shadow: 2px 5px 15px #222;
}